[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/discord_game_sdk"]
	path = thirdparty/discord_game_sdk
	url = https://github.com/3ddelano/discord_game_sdk_mirror.git
